@import "tailwindcss";

.imag {
  background-image: url("/images/comp.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.glass1 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
}
.hove:hover{
  background-color: blueviolet;
  cursor: pointer;
}

/* globals.css yoki component CSS faylida */
.shadow-box {
  background: rgba(217, 203, 217, 0.174);
  border-radius: 1rem;
  backdrop-filter: blur(8px);

  /* Ichki va tashqi shadowlarni birlashtirdik */
  box-shadow:
    inset 0 0 20px rgba(165, 85, 255, 0.4),  /* ichki soya (fuchsia) */
    0 0 25px rgba(165, 85, 255, 0.6),        /* tashqi diffuz nur */
    0 10px 20px rgba(0, 0, 0, 0.2);          /* pastki chuqur soya */
}

